.simpleFlex {
    display: flex;
    width: 100%;
}

.simpleFlex>* {
    margin-right: 1em;
}

.fontFlex {
    display: flex;
    align-items: baseline;
}

.fontFlex>* {
    margin-right: 1em;
}

.head {
    margin-top: 4em;
    margin-bottom: 4em;
}

.head>* {
    margin-bottom: 1em;
}

.imgHold {
    width: 80%;
    margin: auto;
    max-width: 900px;
}

.cover {
    width: 100%
}