@font-face {
    font-family: 'LibreBaskerville';
    src: url('./LibreBaskerville-Regular.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('./LibreBaskerville-Italic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'PublicSans';
    src: url('./PublicSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PublicSans';
    src: url('./PublicSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PublicSans';
    src: url('./PublicSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SpaceMono';
    src: url('./SpaceMono\ Regular.TTF');
    font-weight: 200;
    font-style: normal;
    font-variant-ligatures: none;
}